################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/*/bin
/C#/*/obj
*.~vsdx
/Releases/*
*.suo
*.user
